In [1]:
import numpy as np

# Error in means

In [2]:
test = np.array([[1,2,2,1], [1,3,3,1], [1,4,4,1], [1,5,5,1]])

In [21]:
all_std = np.std(test)
all_mean = np.mean(test)
std_per_row = np.std(test, axis=1)
mean_per_row = np.mean(test, axis=1)
std_over_rows = np.std(mean_per_row)

In [31]:
all_std

1.479019945774904

In [34]:
((sum(std_per_row**2)+sum((mean_per_row - all_mean)**2))/4)**.5

1.479019945774904

# Error in sum

In [35]:
(sum(std_per_row**2)+sum((mean_per_row - all_mean)**2))**.5

2.958039891549808

In [36]:
import pandas as pd

In [37]:
temp = pd.DataFrame([[1,2,3], [4,5,6]])

In [40]:
temp.sum(axis=1)

0    5
1    7
2    9
dtype: int64

In [41]:
temp

   0  1  2
0  1  2  3
1  4  5  6